* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 0 20px;
}

section {
    padding: 60px 0;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    position: sticky; 
    top: 0;
    z-index: 100;
}

header nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none; 
    font-weight: bold;
    transition: color 0.3s ease; 
}

header ul li a:hover {
    color: #00aaff; 
}

.hero {
    background: #00aaff;
    color: #fff;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background: #fff;
    color: #00aaff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
    background: #333;
    color: #fff;
}

.Edu{
    text-align: center;
    font-weight: bold;
}

#about {
    height: 40vh;
    background: rgb(250, 250, 251);
    text-align: center;
}

#about p {
    max-width: 600px;
    margin: auto;
    font-size: 1.1rem;
}

.project-card {
    width: 500px;
height: 500px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    transition: transform 0.3s ease;
    margin: 20px;
}

.project-card:hover {
    transform: translateY(-5px); 
}

.project-card .img  {
    height: 350px;

    /* object-fit: contain;  */
}
.tic{
    background-size: cover;
    background-image: url("tictactoe.png");
}
.black{
    background-image: url("blackjack.png");
}
.project-card .img {
    width: 100%;


}


.project-card-content {
    padding: 20px;
}

.project-card-content h3 {
    margin-bottom: 10px;
}

#contact {
    text-align: center;
}


.contact-link {
    font-size: 1.2rem;
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    margin-top: 40px;
}